<header>
    <div class="logout pl-5 pt-3 pb-3">
  <a class="btn btn-secondary" href="/logout">Logout</a>
  </div>
    <div class="user pt-3 pl-3 pb-3">
    <h5><i class="fas fa-user"></i>  {{name}}</h5>
  </div>
  <div class="nav">
    <a href="#" id="home"><i class="fas fa-home"></i></a>
    <a href="#" id="books"><i class="fas fa-book-open"></i></a>
    <a href="#" id="review"><i class="fas fa-pen"></i></a>
  </div>
</header>