<section>
  <div class="pt-5 pl-5">
    <form action="/addCommentToTheDb" method="post">
      <textarea name="comment" rows="5" cols="150"></textarea>
      <input type="hidden" name="bookId" value="{{bookId}}">
      <br />
      <label for="vol">review 0-5:</label>
     <input type="range" id="vol" name="rate" min="0" max="5">  
     <br />      
      <button class="btn btn-success">add comment</button>
    </form>
  </div>
</section>