<form method="post" action="/signUp">
    <input type="text" name="userName" placeholder="user name">
    <br>
    <input type="mail" name="mail" placeholder="mail id">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>    
    <input type="password" name="confirmPassword" placeholder="confirm password">
   
    <input type="submit" >
</form>