<form method="post" action="/signIn">
    <input type="mail" name="mail" placeholder="mail">
    <br>
    <input type="text" name="password" placeholder="password">
    <br>
    <input type="submit" >
</form>